﻿@using BusinessLogic.DTOs;
@using System.Collections.Generic;

@model List<MovieDTO>﻿﻿

@{
    Layout = "_AdminLayout";
}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список фільмів</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin/addmovies.css" asp-append-version="true" />
</head>
<body>
    <div class="movie-list">
        <h1>Список фільмів</h1>

        <div class="movie-cards">
            @foreach (var movie in Model)
            {
                <div class="movie-card">
                    <img src="@movie.ImageUrl" alt="@movie.Title" class="movie-image" />
                    <h2 class="movie-title">@movie.Title</h2>
                    <p class="movie-description">@movie.Overview</p>
                    <a href="@Url.Action("MovieDetails", "Movies", new { id = movie.Id })" class="movie-details-link">Деталі</a>
                </div>
            }
        </div>
    </div>
</body>
</html>