﻿@using BusinessLogic.DTOs;
@using System.Collections.Generic;

@model List<MovieDTO>﻿﻿

@{
    Layout = "_AdminLayout";
}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список фільмів</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin/addmovies.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/addBtn.css" asp-append-version="true" />

</head>
<body>

   <form asp-action="SearchMovies" asp-controller="Movies" method="get">
        <button type="submit" class="btn btn-primary fixed-button">
            <span class="plus-sign"></span>
        </button>
    </form>

    <br/><br/>
    <h2 class="mb-4 text-center">Список фільмів</h2>
    <div class="list-group mx-auto" style="max-width: 1000px">
        @foreach (var movie in Model)
        {
            <div class="list-group-item d-flex align-items-center">

                <img src="@movie.ImageUrl" alt="@movie.Title" class="movie-image rounded-4" style="max-height: 200px"/>
                <h3 class="movie-title ms-2">@movie.Title</h3>

                <div class="d-flex flex-row ms-auto">
                    <form asp-action="UpdateMovie" asp-route-id="@movie.Id" method="post">
                            <button type="submit" class="btn btn-warning btn-lg me-2">Update</button>
                    </form>

                    <form asp-action="DeleteMovie" asp-route-id="@movie.Id" method="post" onsubmit="return confirm('Ви впевнені, що хочете видалити фільм '@movie.Title?');">
                            <button type="submit" class="btn btn-lg btn-danger btn-lg">Delete</button>
                    </form>
                </div>
            </div>
        }
    </div>
</body>
</html>